
body{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #EEE;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.no-shape{
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}
