.main-container{
  width: 500px;
  padding: 20px;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 0 45px -5px rgba(#000, 0.2);
  .alert{
    margin-top: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    .fa{
      vertical-align: middle;
      margin-right: 15px;
    }
    h4{
      width: 100%;
      margin-top: 0;
      margin-bottom: 5px;
    }
    p{
      margin: 0;
    }
  }

  .table, .alert{
    box-shadow: 0 0 15px -3px rgba(#000, 0.2);
  }

  .table{
    border-radius: 4px;
    overflow: hidden;
    margin: 0;
    border: 0;
    td,th{
      vertical-align: middle;
    }
    th{
      border-top: 0 !important;
      background: #CCC;
    }
    td{
      //line-height: 40px;
    }
  }

  .status-server{
    color: #ff7272;
  }

  .has-timeout{
    background: #f5e4e4 !important;
  }

  .is-online{
    .status-server{
      color: #95e510;
    }
  }
}
