<div class="main-container" ng-cloak>

  <!--  -->
  <div ng-show="main.lessPriorityOnlineServerBusy" class="alert alert-info">
      <i class="fa fa-3x fa fa-refresh fa-spin"></i>
      <div>
        <h4>Loading...</h4>
      </div>
  </div>

  <!--  -->
  <div ng-show="main.lessPriorityOnlineServer && main.lessPriorityOnlineServerBusy === false" class="alert alert-success">
      <i class="fa fa-4x fa-check-circle"></i>
      <div>
        <h4>{{main.lessPriorityOnlineServer.url}}</h4>
        <p>Low priority: <strong>{{main.lessPriorityOnlineServer.priority}}</strong></p>
      </div>
  </div>

  <!--  -->
  <div ng-show="!main.lessPriorityOnlineServer && main.lessPriorityOnlineServerBusy === false" class="alert alert-warning">
      <i class="fa fa-4x fa-warning"></i>
      <div>
        <h4>No online server available!</h4>
      </div>
  </div>

  <!--  -->
  <form>
    <table class="table table-striped">
      <tr>
        <th>Server</th>
        <th class="text-center">Priority</th>
        <th class="text-center">Timeout</th>
        <th class="text-center">Status</th>
      </tr>
      <tr ng-show="main.availableServersBusy">
        <td colspan="3"><i class="fa fa-refresh fa-spin"></i> Loading...</td>
      </tr>
      <tr ng-hide="main.availableServersBusy" ng-repeat="server in main.availableServers" ng-class="{'is-online': server.isOnline, 'has-timeout': server.hasTimeout}">
        <td>{{server.url}}</td>
        <td class="text-center">
          <input type="number" ng-model="server.priority" min="0" max="9" ng-change="main.getLessPriorityOnlineServer()">
        </td>
        <td class="text-center">
          <button class="no-shape" ng-click="main.toggleTimeout(server)">
            {{server.hasTimeout ? 'Yes' : 'No'}}
          </button>
        </td>
        <td class="text-center status-server">
          <button class="no-shape" ng-click="main.toggleStatus(server)">
            <i class="fa fa-2x" ng-class="{false: 'fa-circle', true: 'fa-check-circle'}[server.isOnline]"></i>
          </button>
        </td>
      </tr>
    </table>
  </form>

</div>
